<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>538237330288-ulc4pd1a2re4d9sc9j6naau5577v5id7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.538237330288-ulc4pd1a2re4d9sc9j6naau5577v5id7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>538237330288-cccamnd0221nfukh01fvb5ekau2trvmr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBVtQ2AX06wNaU77BEGfgmSbNfJpCx-y_g</string>
	<key>GCM_SENDER_ID</key>
	<string>538237330288</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.newww</string>
	<key>PROJECT_ID</key>
	<string>ecom-8177b</string>
	<key>STORAGE_BUCKET</key>
	<string>ecom-8177b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:538237330288:ios:5d80de4789f84bed4465b5</string>
</dict>
</plist>